/* h3 --- font-family: 'Lexend Deca', sans-serif; --- h3 */
/* h2 --- font-family: 'Bebas Neue', cursive; --- h2 */

/* inicio barra de navegacion */

.navbar{
    background-color: black;
    height: auto;
}

.navbar a{
    font-size: 20px;
    color: white !important;
}
/* cierre de barra de navegacion */

/* inicio de jumbotron */

.jumbotron{
    background-image: url(./images/imgdescargadas/index1.jpg);
    background-size: cover;
    background-position: center;
    height: 650px;
    margin-bottom: 0;
    border-radius: 0;
    color: white;
    text-shadow: 0 0 5px black;
}

/* cierre de jumbotron */

/* inicio de segunda seccion */

.container-fluid{
    height: auto;
    padding: 15px;
    padding-bottom: 15px;
    background-color: black;
}

.row{
    padding: 10px;
    margin-top: 10px;
}

.container-fluid h2{
    color: #e95b2b;
    text-shadow: 0 0 5px black;
    font-size: 40px;
    padding: 10px;
}

.boton{
    background-color: #e95b2b;
    color: white;
    border-radius: 150px;
    font-size: 30px;
}

.row a{
    color: white;
    background-color: #e95b2b;
    border-radius: 150px;
    text-decoration: none;
}

.Nleft{
    text-align: center;
}

.imgnosotrosinicio{
    background-image: url(./images/nosotros5.JPG);
    background-position: bottom;
    background-size: cover;
    height: 650px;
    margin-bottom: 5px;
    border-radius: 5px;
    
}

.imgnosotrosinicio:hover{
    transform: scale(1.05);
    transition: all 0.9s;
}

.Ncenter{
    text-align: center;
   
}

.imgestilosinicio{
    background-image: url(./images/imgestilosindex.png);
    background-position: center;
    background-size: cover;
    height: 650px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.imgestilosinicio:hover{
    transform: scale(1.05);
    transition: all 0.9s;
}

.Nright{
    text-align: center;
}

.imgvendelaceluinicio{
    background-image: url(./images/vendelacelu.png);
    background-position: center;
    background-size: cover;
    height: 650px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.imgvendelaceluinicio:hover{
    transform: scale(1.05);
    transition: all 0.9s;
}

/* cierre de 2da seccion */

/* inicio de footer */

.footer{
    height: auto;
    background-color: black;
    padding: 15px;
}

.footer h2{
    color: #e95b2b;
    text-shadow: 0 0 5px black;
}

.footer p{
    color: white;
}

.piedepagina{
    background-color: #e95b2b;
    text-align: center;
    padding: 10px;
}

.piedepagina h3{
    color: white;
    font-size: 12px;
}

/* cierre de footer */

/* inicio de pagina Nosotros */
/* inicio de seccion 1 Nosotros */

.jumbotronNos{
    height: 650px;
    background-image: url(./images/nosotros1.jpg);
    background-position: top;
    background-size: cover;
}

.jumbotronNos h1{
    color: white;
    text-shadow: 0 0 5px black;
    margin-bottom: 45px;
    margin-left: 15px;
}

.seccion1Nos{
    height: auto;
    margin-bottom: 0;
    background-color: black;
    padding: 15px;
    padding-bottom: 15px;

}

/* cierre de seccion1 Nosotros */

/* inicio de seccion2 Nosotros */

.articleNos1{
    background-image: url(./images/nosotros2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}

.asideNos1 h2{
    text-align: center;
    color: #e95b2b;
    text-shadow: 0 0 2px white;
    font-size: 60px;
}

.asideNos1 h3{
    color: white;
    font-family: 'Lexend Deca', sans-serif;
}

/* cierre de seccion1 Nosotros */

/* inicio de seccion2 Nosotros */

.seccion2Nos{
    height: auto;
    padding: 25px;
    padding-bottom: 25px;
    background-color: black;
}

.article2Nos h2{
    text-align: center;
    color: #e95b2b;
    text-shadow: 0 0 2px white;
    font-size: 60px;
}

.article2Nos h3{
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
}

.aside2Nos{
    background-image: url(./images/apasionadosnosotros.png);
    background-position: center;
    background-size: cover;
    height: 300px;
}

.seccion3Nos{
    height: auto;
    padding: 25px;
    padding-bottom: 25px;
    background-color: black;
}

.article3Nos{
    background-image: url(./images/nosotros3.png);
    background-position: center;
    background-size: cover;
    height: 300px;
}

.aside3Nos h2{
    text-align: center;
    color: #e95b2b;
    text-shadow: 0 0 2px white;
    font-size: 60px;
}

.aside3Nos h3{
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
}

.seccion4Nos{
    height: auto;
    padding: 25px;
    padding-bottom: 25px;
    background-color: black;
}

.article4Nos h2{
    text-align: center;
    color: #e95b2b;
    text-shadow: 0 0 2px white;
    font-size: 60px;
}

.article4Nos h3{
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
}

.aside4Nos{
    background-image: url(./images/nosotros4.JPG);
    background-position: top;
    background-size: cover;
    height: 300px;
}

/* cierre de seccion2 Nosotros */
/* cierre de pagina Nosotros */

/* inicio pagina Productos */

.portadaproductos{
    background-image: url(./images/fondoproductos.png);
    background-position: top;
    background-size: cover;
    height: 650px;
    margin-bottom: 0;
    border-radius: 0;
}

.portadaproductos h1{
    color: white;
    text-shadow: 0 0 5px black;
    margin-bottom: 45px;
    margin-left: 15px;
    padding-right: 20px;
}

/* inicio seccion1 Productos */

.latasPro{
    background-color: black;
    height: 130px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.latasPro h2{
    color: #e95b2b;
    text-align: center;
    font-size: 45px;
    text-shadow: 0 0 2px white;
}

.latasPro p{
    color: white;
    text-align: center;
    font-size: 20px;
}

.imglatasPro{
    height: 450px;
    background-image: url(./images/productolatas.jpg);
    background-position: center;
    background-size: cover;
}

/* cierre de seccion1 Productos  */

/* inicio de seccion2 Productos */

.growlersPro{
    background-color: black;
    height: 130px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.growlersPro h2{
    color: #e95b2b;
    text-align: center;
    font-size: 45px;
    text-shadow: 0 0 2px white;
}

.growlersPro p{
    color: white;
    text-align: center;
    font-size: 20px;
}

/* cierre de seccion2 Productos */

/* inicio de seccion3 Productos */

.choperasPro{
    background-color: black;
    height: 130px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.choperasPro h2{
    color: #e95b2b;
    text-align: center;
    font-size: 45px;
    text-shadow: 0 0 2px white;
}

.choperasPro p{
    color: white;
    text-align: center;
    font-size: 20px;
}

/* cierre de seccion3 Productos */

/* inicio de seccion4 Productos */

.barrilesPro{
    background-color: black;
    height: 130px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.barrilesPro h2{
    color: #e95b2b;
    text-align: center;
    font-size: 45px;
    text-shadow: 0 0 2px white;
}

.barrilesPro p{
    color: white;
    text-align: center;
    font-size: 20px;
}

/* cierre de seccion4 Productos */

/* inicio de footer Productos */

.piedepaginaPro {
    background-color: #e95b2b;
    text-align: center;
    padding: 10px;
}

.piedepaginaPro h3{
    color: white;
    font-size: 12px;
}

/* cierre de footer Productos */

/* inicio de pagina Estilos */
/* estilo golden */

.seccion1Est{
    background-color: black;
    height: 800px;
}

.estilogolden h2{
    color: #e95b2b;
    text-align: center;
    font-size: 45px;
    text-shadow: 0 0 2px white;
}

.estilogolden h3{
    color: white;
    font-size: 30px;
    text-align: center;
}

.estilogolden h4{
    color: white;
    font-size: 20px;
    text-align: center;
}

.imgqueen{
    height: 400px;
    width: 400px;
    background-image: url(/images/estiloscerveza/golden1.png);
    background-position: center;
    background-size: cover;
    text-align: center;
}