/* h3 --- font-family: 'Lexend Deca', sans-serif; --- h3 */
/* h2 --- font-family: 'Bebas Neue', cursive; --- h2 */

/* inicio barra de navegacion */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: black;
    height: auto;
}

.navbar a{
    font-size: 20px;
    color: white !important;
}
/* cierre de barra de navegacion */

/* inicio de jumbotron */

.jumbotron{
    background-image: url(./images/imgdescargadas/index1.jpg);
    background-size: cover;
    background-position: center;
    height: 650px;
    margin-bottom: 0;
    border-radius: 0;
    color: white;
    text-shadow: 0 0 5px black;
}

/* cierre de jumbotron */

/* inicio de segunda seccion */

.container-fluid{
    height: auto;
    padding: 15px;
    padding-bottom: 15px;
    background-color: black;
}

.row{
    padding: 10px;
    margin-top: 10px;
}

.container-fluid h2{
    color: #e95b2b;
    text-shadow: 0 0 5px black;
    font-size: 40px;
    padding: 10px;
}

.boton{
    background-color: #e95b2b;
    color: white;
    border-radius: 150px;
    font-size: 30px;
}

.row a{
    color: white;
    background-color: #e95b2b;
    border-radius: 150px;
    text-decoration: none;
}

.Nleft{
    text-align: center;
}

.imgnosotrosinicio{
    background-image: url(./images/nosotros5.JPG);
    background-position: bottom;
    background-size: cover;
    height: 650px;
    margin-bottom: 5px;
    border-radius: 5px;
    
}

.imgnosotrosinicio:hover{
    transform: scale(1.05);
    transition: all 0.9s;
}

.Ncenter{
    text-align: center;
   
}

.imgestilosinicio{
    background-image: url(./images/imgestilosindex.png);
    background-position: center;
    background-size: cover;
    height: 650px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.imgestilosinicio:hover{
    transform: scale(1.05);
    transition: all 0.9s;
}

.Nright{
    text-align: center;
}

.imgvendelaceluinicio{
    background-image: url(./images/vendelacelu.png);
    background-position: center;
    background-size: cover;
    height: 650px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.imgvendelaceluinicio:hover{
    transform: scale(1.05);
    transition: all 0.9s;
}

/* cierre de 2da seccion */

/* inicio de footer */

.footer{
    height: auto;
    background-color: black;
    padding: 15px;
}

.footer h2{
    color: #e95b2b;
    text-shadow: 0 0 5px black;
}

.footer p{
    color: white;
}

.piedepagina{
    background-color: #e95b2b;
    text-align: center;
    padding: 10px;
}

.piedepagina h3{
    color: white;
    font-size: 12px;
}

/* cierre de footer */

/* inicio de PAGINA NOSOTROS */
/* inicio de seccion 1 Nosotros */

.jumbotronNos{
    height: 650px;
    background-image: url(./images/nosotros1.jpg);
    background-position: top;
    background-size: cover;
}

.jumbotronNos h1{
    color: white;
    text-shadow: 0 0 5px black;
    margin-bottom: 45px;
    margin-left: 15px;
}

.seccion1Nos{
    height: auto;
    margin-bottom: 0;
    background-color: black;
    padding: 15px;
    padding-bottom: 15px;

}

/* cierre de seccion1 Nosotros */

/* inicio de seccion2 Nosotros */

.articleNos1{
    background-image: url(./images/nosotros2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}

.asideNos1 h2{
    text-align: center;
    color: #e95b2b;
    text-shadow: 0 0 2px white;
    font-size: 60px;
}

.asideNos1 h3{
    color: white;
    font-family: 'Lexend Deca', sans-serif;
}

/* cierre de seccion1 Nosotros */

/* inicio de seccion2 Nosotros */

.seccion2Nos{
    height: auto;
    padding: 25px;
    padding-bottom: 25px;
    background-color: black;
}

.article2Nos h2{
    text-align: center;
    color: #e95b2b;
    text-shadow: 0 0 2px white;
    font-size: 60px;
}

.article2Nos h3{
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
}

.aside2Nos{
    background-image: url(./images/apasionadosnosotros.png);
    background-position: center;
    background-size: cover;
    height: 300px;
}

/* cierre de seccion2 Nosotros */

/* inicio de seccion3 Nosotros */

.seccion3Nos{
    height: auto;
    padding: 25px;
    padding-bottom: 25px;
    background-color: black;
}

.article3Nos{
    background-image: url(./images/nosotros3.png);
    background-position: center;
    background-size: cover;
    height: 300px;
}

.aside3Nos h2{
    text-align: center;
    color: #e95b2b;
    text-shadow: 0 0 2px white;
    font-size: 60px;
}

.aside3Nos h3{
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
}

/* cierre de seccion3 Nosotros */

/* inicio de seccion4 Nosotros */

.seccion4Nos{
    height: auto;
    padding: 25px;
    padding-bottom: 25px;
    background-color: black;
}

.article4Nos h2{
    text-align: center;
    color: #e95b2b;
    text-shadow: 0 0 2px white;
    font-size: 60px;
}

.article4Nos h3{
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
}

.aside4Nos{
    background-image: url(./images/nosotros4.JPG);
    background-position: top;
    background-size: cover;
    height: 300px;
}

/* cierre de seccion4 Nosotros */
/* CIERRE DE PAGINA NOSOTROS */

/* INICIO DE PAGINA PRODUCTOS */

.portadaproductos{
    background-image: url(./images/fondoproductos.png);
    background-position: top;
    background-size: cover;
    height: 650px;
    margin-bottom: 0;
    border-radius: 0;
}

.portadaproductos h1{
    color: white;
    text-shadow: 0 0 5px black;
    margin-bottom: 45px;
    margin-left: 15px;
    padding-right: 20px;
}

/* inicio seccion1 Productos */

.latasPro{
    background-color: black;
    height: 130px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.latasPro h2{
    color: #e95b2b;
    text-align: center;
    font-size: 45px;
    text-shadow: 0 0 2px white;
}

.latasPro p{
    color: white;
    text-align: center;
    font-size: 20px;
}

.imglatasPro{
    height: 450px;
    background-image: url(./images/productolatas.jpg);
    background-position: center;
    background-size: cover;
}

/* cierre de seccion1 Productos  */

/* inicio de seccion2 Productos */

.growlersPro{
    background-color: black;
    height: 130px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.growlersPro h2{
    color: #e95b2b;
    text-align: center;
    font-size: 45px;
    text-shadow: 0 0 2px white;
}

.growlersPro p{
    color: white;
    text-align: center;
    font-size: 20px;
}

/* cierre de seccion2 Productos */

/* inicio de seccion3 Productos */

.choperasPro{
    background-color: black;
    height: 130px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.choperasPro h2{
    color: #e95b2b;
    text-align: center;
    font-size: 45px;
    text-shadow: 0 0 2px white;
}

.choperasPro p{
    color: white;
    text-align: center;
    font-size: 20px;
}

/* cierre de seccion3 Productos */

/* inicio de seccion4 Productos */

.barrilesPro{
    background-color: black;
    height: 130px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.barrilesPro h2{
    color: #e95b2b;
    text-align: center;
    font-size: 45px;
    text-shadow: 0 0 2px white;
}

.barrilesPro p{
    color: white;
    text-align: center;
    font-size: 20px;
}

/* cierre de seccion4 Productos */

/* inicio de footer Productos */

.piedepaginaPro {
    background-color: #e95b2b;
    text-align: center;
    padding: 10px;
}

.piedepaginaPro h3{
    color: white;
    font-size: 12px;
}

/* cierre de footer Productos */

/* INICIO DE PAGINA ESTILOS */

/* inicio portada pagina Estilos */

.portadaestilos{
    background-image: url(./images/nosotros1.jpg);
    background-size: cover;
    background-position: top;
    height: 650px;
    margin-bottom: 0;
    border-radius: 0;
    color: white;
    text-shadow: 0 0 5px black;
}

/* cierre portada pagina Estilos */

/* inicio seccion1 estilo Golden */

.containergolden{
    background-color: black;
    padding: 25px;
    padding-bottom: 25px;
    height: auto;
}

.goldenleft{
    background-image: url(./images/latas/latagolden.png);
    background-position: center;
    background-size: cover;
    height: 650px;
    border-radius: 5px;
}

.goldencenter{
    background-image: url(./images/estiloscerveza/golden1.png);
    background-position: center;
    background-size: cover;
}

.goldenright h2{
    margin-bottom: 0;
    text-align: center;
    color: #e95b2b;
    text-shadow: 0 0 2px white;
    font-size: 60px;
}

.goldenright h3{
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    font-size: 40px;
}

.goldenright h4{
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    font-size: 20px;
}

/* cierre de seccion estilo Golden */

/* inicio de seccion estilo Ipa */

.containeripa{
    background-color: black;
    padding: 25px;
    padding-bottom: 25px;
    height: auto;
}

.ipaleft h2{
    margin-bottom: 0;
    text-align: center;
    color: #e95b2b;
    text-shadow: 0 0 2px white;
    font-size: 60px;
}

.ipaleft h3{
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    font-size: 40px;
}

.ipaleft h4{
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    font-size: 20px;
}

.ipacenter{
    background-image: url(./images/estiloscerveza/ipa1.png);
    background-position: center;
    background-size: cover;
}

.iparight{
    background-image: url(./images/latas/lataipa.png);
    background-position: center;
    background-size: cover;
    height: 650px;
    border-radius: 5px;
}

/* cierre de seccion estilo Ipa */

/* inicio de seccion estilo Porter */

.containerporter{
    background-color: black;
    padding: 25px;
    padding-bottom: 25px;
    height: auto;
}

.porterleft{
    background-image: url(./images/latas/lataporter.png);
    background-position: center;
    background-size: cover;
    height: 650px;
    border-radius: 5px;
}

.portercenter{
    background-image: url(./images/estiloscerveza/porter1.png);
    background-position: center;
    background-size: cover;
}

.porterright h2{
    margin-bottom: 0;
    text-align: center;
    color: #e95b2b;
    text-shadow: 0 0 2px white;
    font-size: 60px;
}

.porterright h3{
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    font-size: 40px;
}

.porterright h4{
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    font-size: 20px;
}

/* cierre de seccion estilo Porter */

/* inicio de seccion estilo Dulce */

.containerdulce{
    background-color: black;
    padding: 25px;
    padding-bottom: 25px;
    height: auto;
}

.dulceleft h2{
    margin-bottom: 0;
    text-align: center;
    color: #e95b2b;
    text-shadow: 0 0 2px white;
    font-size: 60px;
}

.dulceleft h3{
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    font-size: 40px;
}

.dulceleft h4{
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    font-size: 20px;
}

.dulcecenter{
    background-image: url(./images/estiloscerveza/dulce1.png);
    background-position: center;
    background-size: cover;
}

.dulceright{
    background-image: url(./images/latas/latadulcesaltenia.png);
    background-position: center;
    background-size: cover;
    height: 650px;
    border-radius: 5px;
}

/* cierre de seccion estilo Dulce */

/* inicio de seccion estilo Kolsch */

.containerkolsch{
    background-color: black;
    padding: 25px;
    padding-bottom: 25px;
    height: auto;
}

.kolschleft{
    background-image: url(./images/latas/latakolsch.png);
    background-position: center;
    background-size: cover;
    height: 650px;
    border-radius: 5px;
}

.kolschcenter{
    background-image: url(./images/estiloscerveza/kolsch1.png);
    background-position: center;
    background-size: cover;
}

.kolschright h2{
    margin-bottom: 0;
    text-align: center;
    color: #e95b2b;
    text-shadow: 0 0 2px white;
    font-size: 60px;
}

.kolschright h3{
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    font-size: 40px;
}

.kolschright h4{
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    font-size: 20px;
}

/* cierre de seccion estilo Kolsch */

.containerscotish{
    background-color: black;
    padding: 25px;
    padding-bottom: 25px;
    height: auto;
}

.scotishleft h2{
    margin-bottom: 0;
    text-align: center;
    color: #e95b2b;
    text-shadow: 0 0 2px white;
    font-size: 60px;
}

.scotishleft h3{
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    font-size: 40px;
}

.scotishleft h4{
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    font-size: 20px;
}

.scotishcenter{
    background-image: url(./images/estiloscerveza/scotish1.png);
    background-position: center;
    background-size: cover;
}

.scotishright{
    background-image: url(./images/latas/latascotish.png);
    background-position: center;
    background-size: cover;
    height: 650px;
    border-radius: 5px;
}

/* cierre de seccion estilo Scotish */

/* inicio de seccion estilo LaRegalona */

.containerlaregalona{
    background-color: black;
    padding: 25px;
    padding-bottom: 25px;
    height: auto;
}

.laregalonaleft{
    background-image: url(./images/latas/lataregalona.png);
    background-position: center;
    background-size: cover;
    height: 650px;
    border-radius: 5px;
}

.laregalonacenter{
    background-image: url(./images/estiloscerveza/laregalona1.png);
    background-position: center;
    background-size: cover;
}

.laregalonaright h2{
    margin-bottom: 0;
    text-align: center;
    color: #e95b2b;
    text-shadow: 0 0 2px white;
    font-size: 60px;
}

.laregalonaright h3{
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    font-size: 40px;
}

.laregalonaright h4{
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    font-size: 20px;
}

/* cierre de seccion estilo LaRegalona */

/* inicio de seccion estilo Intensidad */

.containerintensidad{
    background-color: black;
    padding: 25px;
    padding-bottom: 25px;
    height: auto;
}

.intensidadleft h2{
    margin-bottom: 0;
    text-align: center;
    color: #e95b2b;
    text-shadow: 0 0 2px white;
    font-size: 60px;
}

.intensidadleft h3{
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    font-size: 40px;
}

.intensidadleft h4{
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    font-size: 20px;
}

.intensidadcenter{
    background-image: url(./images/estiloscerveza/intensidad1.png);
    background-position: center;
    background-size: cover;
}

.intensidadright{
    background-image: url(./images/latas/lataintensidad.png);
    background-position: center;
    background-size: cover;
    height: 650px;
    border-radius: 5px;
}

/* cierre de seccion estilo Intensidad */

/* inicio de seccion estilo Divino */

.containerdivino{
    background-color: black;
    padding: 25px;
    padding-bottom: 25px;
    height: auto;
}

.divinoleft{
    background-image: url(./images/latas/latadivino.png);
    background-position: center;
    background-size: cover;
    height: 650px;
    border-radius: 5px;
}

.divinocenter{
    background-image: url(./images/estiloscerveza/divino1.png);
    background-position: center;
    background-size: cover;
}

.divinoright h2{
    margin-bottom: 0;
    text-align: center;
    color: #e95b2b;
    text-shadow: 0 0 2px white;
    font-size: 60px;
}

.divinoright h3{
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    font-size: 40px;
}

.divinoright h4{
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    font-size: 20px;
}

/* cierre de seccion estilo Divino */

/* inicio de footer Estilos */

.piedepaginaestilos{
    background-color: #e95b2b;
    text-align: center;
    padding: 10px;
}

.piedepaginaestilos h3{
    color: white;
    font-size: 12px;
}
